<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Employee</title>
</head>
<body>
    <h1>Add Employee</h1>
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" id="name"></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input type="number" id="age"></td>
        </tr>
        <tr>
            <td>City</td>
            <td><input type="text" id="city"></td>
        </tr>
</body>
</html>