
body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    padding: 10px;
    margin: 0;
}
.header{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
    box-sizing: border-box;
    background-color: aliceblue;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}
h1 {
    text-align: top;
    margin-bottom: 25px;
}

a {
    text-decoration: none;
}

.card {
    max-width: 450px;
    background: white;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

label {
    font-weight: bold;
    margin-top: 12px;
    display: block;
}

.form-input, select {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 5px;
    border-radius: 6px;
    font-size: 14px;
}

.btn-primary {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background: #2563eb;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

.btn-primary:hover {
    background: #1e40af;
}

.btn-back {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #444;
}

.error {
    background: #fee2e2;
    padding: 10px;
    border-left: 4px solid #dc2626;
    color: #b91c1c;
    margin-bottom: 15px;
    border-radius: 4px;
}
.container{
    display: flex;
    gap: 10px;
    flex-direction: row;
    padding-bottom: 30px;
}
.box{
    max-width: 400px;
    background: white;
    color: black;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.table-container {
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th {
    background: #2563eb;
    color: white;
    padding: 12px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tr:hover td {
    background: #f1f5ff;
}

.action-links a {
    margin-right: 8px;
    color: #2563eb;
    font-weight: bold;
}
